* {
  box-sizing: border-box;
}
p {
  line-height: 1.5em;
}


body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 2em;
  max-width: 1200px;
  margin: 10vh auto;
}
main > section {
  width: 25%;
  padding-right: 2em;
  margin-bottom: 3em;
}
@media (max-width: 1000px) {
  main > section {
    width: 33%;
  }
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.site-header__links {
  list-style-type: none;
  font-size: 16px;
  text-align: right;
}
.site-header__links li:not(:last-child) {
  padding-bottom: 1em;
}

.site-header__headline {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.1rem;
}
.site-header__headline img {
  height: 1.2rem;
  width: auto;
  margin: 0;
  margin-right: 0.25em;
}
.site-header__headline h1 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

h2, h3 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.question {
  margin-left: 1em;
}
.answer {
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}
#askers-and-questions {
  margin-bottom: 1em;
}
#question-grid { padding: 0; }
#question-grid svg {
  display: block;
  height: auto;
  max-width: 100%;
  cursor: crosshair;
  padding: 0 1em;
}
#question-grid svg * {
  transition: stroke 1s, fill 1s;
}
#question-grid figcaption {
  padding: 0 2em;
  padding-top: 1em;
}

