* {
  box-sizing: border-box;
}

html {
  color: rgba(0, 0, 0, 0.95);
  font-size: 14px;
  font-family: 'New York', Palatino, Times, serif;
}

/* Gray
body { background: #99C1B9; } h1, h2, h3, h4 { color: #1C1B1A; }
*/

/* https://www.schemecolor.com/fairy-lore.php
*/

/* https://www.schemecolor.com/reputed.php
body { background: #DFD3C0; }
h1, h2, h3 { color: #145654; }
h1, h2, h3 { color: #B92360; }
*/

/* look of tonight
    Name: Dark Cerulean
    Hex: #005275
    RGB: (0, 82, 117)
    CMYK: 1, 0.299, 0, 0.541

    Name: Dollar Bill
    Hex: #8CB868
    RGB: (140, 184, 104)
    CMYK: 0.239, 0, 0.434, 0.278

    Name: Chinese Silver
    Hex: #C7C7C7
    RGB: (199, 199, 199)
    CMYK: 0, 0, 0, 0.219

    Name: Platinum
    Hex: #E4E4E4
    RGB: (228, 228, 228)
    CMYK: 0, 0, 0, 0.105

    Name: Meat Brown
    Hex: #E7AC45
    RGB: (231, 172, 69)
    CMYK: 0, 0.255, 0.701, 0.094

    Name: Candy Pink
    Hex: #DE7A74
    RGB: (222, 122, 116)
    CMYK: 0, 0.450, 0.477, 0.129
*/
body { background: #E4E4E4; }
h1, h2, h3, h4, h5, h6 { color: #005275; }

a { color: #2F56B5; }
a:visited { color: #090F87; }
a:hover { color: #2295C7; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
h1, h2, h3 { font-family: Helvetica, Arial, san-serif; }
h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 12px; font-weight: bold; }

.inline-header h3, 
.inline-header h4, 
.inline-header h5, 
.inline-header h6,
.inline-header p {
  display: inline;
  font-size: 1em;
}
.inline-header h3::after, 
.inline-header h4::after, 
.inline-header h5::after, 
.inline-header h6::after {
  display: inline;
  content: ': ';
}
.inline-header {
  padding-bottom: 1em;
}

/*
.stele1 { font-family: monospace, monospace; }
*/
.stele1 { font-style: italic; }

figure {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  padding-left: 2em;
}

#site-nav {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}
