html {
  font-size: 16px;
}

.sections, .entities, .attributes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.attributes {
  padding-left: 1.25em;
}
.attribute {
  display: inline;
}
.attribute:not(:last-child) {
  padding-right: 0.3em;
}

.documentation-page-nav {
  position: fixed;
  top: 10vh;
  left: 5vw;
  width: 30vw;
}
.documentation-page-nav .h2 {
  font-size: 1.25em;
  margin: 0.5em 0;
}
.documentation-page-nav .entity {
  padding-bottom: 0.5em;
}

main {
  padding-left: 40vw;
  padding-right: 5vw;
}

pre > code {
  display: block;
  padding: 1em;
  overflow-x: scroll;
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

main h2 { font-size: 1.7rem; margin-top: 1.2em; }
main h3 { font-size: 1.4rem; margin-top: 1.2em; }
main h4 { font-size: 1.2rem; margin-top: 1.2em; }
main h5 { font-size: 1.1rem; margin-top: 1.2em; }

main section {
  padding: 1em;
  margin-top: 2em;
}
main section > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

section:target {
  background-color: #ffc65e;
}

.value-example {
  border-left: solid black 1px;
  padding: 0.5em 0 0.5em 1em;
  margin: 1.5em 0 0 0;
}
.value-example > *:first-child {
  padding-top: 0;
  margin-top: 0;
}
.value-example > *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
